<div class="flex flex-col md:flex-row justify-center items-start p-6 gap-8 max-w-6xl mx-auto"> 

    <div class="w-full md:w-1/2 p-6 bg-white border border-pink-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"> 
        <h5 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Datos Personales</h5> 
        
        <form [formGroup]="formulario" (ngSubmit)="imprimirHoroscopo()"> 
            
            <div class="mb-4"> 
                <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label> 
                <input type="text" id="nombre" formControlName="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-white-500 focus:border-white-500 block w-full p-2.5 dark:bg-pink-300 dark:border-pink-900 dark:text-black dark:focus:ring-pink-500 dark:focus:border-white-500" /> 
            </div> 
            
            <div class="mb-4"> 
                <label for="apellidoPat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Paterno</label> 
                <input type="text" id="apellidoPaterno" formControlName="apellidoPat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-white-500 focus:border-white-500 block w-full p-2.5 dark:bg-pink-300 dark:border-pink-900 dark:text-black dark:focus:ring-pink-500 dark:focus:border-white-500" /> 
            </div> 
            
            <div class="mb-4"> 
                <label for="apellidoMat" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Materno</label> 
                <input type="text" id="apellidoMaterno" formControlName="apellidoMat" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-white-500 focus:border-white-500 block w-full p-2.5 dark:bg-pink-300 dark:border-pink-900 dark:text-black dark:focus:ring-pink-500 dark:focus:border-white-500" /> 
            </div> 

            <div class="mb-4"> 
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de nacimiento</label> 
                <div class="grid grid-cols-3 gap-4"> 
                    <h2 class="dark:text-white">Escribe mes y año con números.</h2> 
                    <input type="number" formControlName="dia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-pink-250 dark:border-pink-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-white-500" placeholder="Día" min="1" max="31" /> 
                    <input type="number" formControlName="mes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-pink-250 dark:border-pink-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-white-500" placeholder="Mes " min="1" max="12"/> 
                    <input type="number" formControlName="an" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-pink-250 dark:border-pink-600 dark:text-black dark:focus:ring-blue-500 dark:focus:border-white-500" placeholder="Año" min="1900" max="2025"/> 
                </div> 
            </div> 

            <div class="mb-6"> 
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sexo</label> 
                <div class="flex items-center mb-4"> 
                    <input id="masculino" type="radio" value="Masculino" formControlName="sexo" class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" > 
                    <label for="masculino" class="ms-2 text-sm font-medium text-white-900 dark:text-white-300">Masculino</label> 
                </div> 
                <div class="flex items-center"> 
                    <input id="femenino" type="radio" value="Femenino" formControlName="sexo" class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"> 
                    <label for="femenino" class="ms-2 text-sm font-medium text-white-900 dark:text-white-300">Femenino</label> 
                </div> 
            </div> 

            <button type="submit" class="text-white bg-gray-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-white-600 dark:hover:bg-pink-700 dark:focus:ring-white-800">Buscar</button>
            
            <div class="text-red-500 mt-2 text-sm">
               
            </div>
        </form> 
    </div>
   <!--Respuestas-->
    <div class="hidden md:block separator my-4"></div> 
    <div class="w-full md:w-1/2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 text-center">
        <div *ngIf="objzodiaco.edad > 0"> 
            <p class="text-2xl font-bold text-gray-900 dark:text-white mb-4">
                 {{ objzodiaco.nombre }} {{ objzodiaco.apellidoPat }} {{ objzodiaco.apellidoMat }}
            </p>
            <p class="text-xl text-gray-700 dark:text-gray-300 mb-2">
                Tu edad es: {{ objzodiaco.edad }} años
            </p>
            <p class="text-xl text-gray-700 dark:text-gray-300 mb-4">signo zodiacal</p>
            <div class="flex justify-center mb-4">
                <div class="w-24 h-24 bg-gray-700 rounded-full flex items-center justify-center overflow-hidden">
                    <img [src]="objzodiaco.imagenSigno" class="w-full h-full object-cover">
                </div>
            </div>
            <p class="text-3xl font-extrabold text-pink-700 dark:text-pink-500">
                 {{ objzodiaco.zodiacoSig }}
            </p>
        </div>
    </div>

</div>